[2015-11-20 05:40] jeffpeiyt opened #1 "allow nav links with depth more than 2"
this theme is really cool and much better than the mkdocs default one!

One issue would be very nice to address is to support more than a 2nd level of navigation. Actually current mkdcos/readthedocs theme actually already support it. Could we make it working with Cinder?

I tried it does not work at this point. Thanks!!

https://www.bountysource.com/issues/2321017-allow-nav-links-with-depth-2

htt

[2015-11-20 05:52] jeffpeiyt commented on #1
I checked it, the issue is in base.css  hopefully the work is not too much given a diff

[2015-11-20 06:16] jeffpeiyt commented on #1
when I just copy over boostrap.*.css it works. just the alignment of the >2 level menu was a little issue

[2015-11-20 21:00] jeffpeiyt commented on #1
added pull request #2

[2015-11-20 21:13] chrissimpkins commented on #1
do you have this working on an example site?

[2015-11-20 21:16] jeffpeiyt commented on #1
I have one internal site. but let me add one similar to this: http://www.parallec.io/docs/ . 10 minutes

[2015-11-20 21:27] chrissimpkins commented on #1
no rush at all. thanks!

[2015-11-20 21:32] jeffpeiyt commented on #1
here you go: http://www.parallec.io/testdoc/test/test/test/

check the drop down of "test" column

[2015-11-20 22:10] chrissimpkins commented on #1
Arrow in the dropdown seems to be too low in FF 44.0a2:

![dropdown-ss](https://cloud.githubusercontent.com/assets/4249591/11313255/87a5edc4-8fa9-11e5-98f5-12200e3ad255.png)

[2015-11-20 22:19] jeffpeiyt commented on #1
ah. thanks for catching this in FF. I should have tried in all browsers

[2015-11-20 22:36] jeffpeiyt commented on #1
ah... I fixed it... let me see how to submit a pull request / combine with the previous one.

[2015-11-20 23:15] jeffpeiyt commented on #1
tested in IE/Safari/FF/Chrome

http://www.parallec.io/testdoc/

[2015-11-21 00:56] chrissimpkins commented on #1
Looks great!  Merged.  Will add it to the release.  Thank you very much for contributing this.  I really appreciate it.

[2015-11-21 00:56] #1 closed

[2015-11-21 00:58] chrissimpkins opened #4 "Support additional colors in the theme"
@jeffpeiyt : I saw your comment on the MkDocs repository (https://github.com/mkdocs/mkdocs/issues/756).

We can work on support for this if you are still interested.

[2015-11-21 01:16] jeffpeiyt commented on #4
Thanks @chrissimpkins ! The current color in Cinder looks great and definitely not hurt to have more options.

We are trying this theme for now. More requests may be coming. Frankly my knowledge on frontend is kind of limited and just self learn on a need basis. However our team definitely has more talented frontend developers and if we decided to continue use it with more complex cases  I will ur

[2015-11-21 01:41] chrissimpkins commented on #4
That all sounds great Jeff.  I don't claim any front end expertise either.  Happy to expand this as it is useful out there.  Enjoy!

[2015-12-01 00:45] jeffpeiyt opened #5 "request examples to add boostrap buttons and fontawesome icons"
Hi @chrissimpkins , http://sourcefoundry.org/cinder/specimen/ looks great,

wonder could you please add some example .md that enables fontawesome icons and bootstrap buttons?

thanks!

[2015-12-01 01:02] jeffpeiyt commented on #5
ok `<i class="fa text-default fa-diamond"></i>` seems working...

let me try the bootstrap

[2015-12-01 01:13] chrissimpkins commented on #5
Here is the raw Markdown file that shows how I implemented the Bootstrap buttons on the specimen page:

https://raw.githubusercontent.com/chrissimpkins/cinder/master/docs/specimen.md

[2015-12-01 01:15] chrissimpkins commented on #5
And the HTML above that you used for the Font Awesome is correct.  For blocks where you need to use these, just use HTML rather than Markdown.  There is not a way to do this in Markdown itself (that I am aware of).

[2015-12-01 01:28] jeffpeiyt commented on #5
Awesome! Thanks @chrissimpkins !

[2015-12-01 01:28] #5 closed

[2015-12-01 01:39] chrissimpkins commented on #5
no problem! how is the site coming?

[2015-12-01 02:10] jeffpeiyt commented on #5
@chrissimpkins , internally we are using Cinder and looks good, ultimately we want to see if we can add more fancier colors to match themes/css/js such as in http://htmlcoder.me/the-project-multipurpose-website-template  . 70% close it good enough

that would make markdown great and serious competitor.  later we may try to append extra css/js in the config and see

[2015-12-01 02:37] chrissimpkins commented on #5
That's great to hear.  Please let me know if there is anything else that you need.

[2016-02-01 14:45] ThomasVogelpohl opened #6 "Image scaling for small mobile screens"
Hi Chris,
I do like your theme, great work !

But I do have an issue with png images.
If I use the default mkdocs theme and I view my documentation on a small screen or if I make a desktop window smaller, the images do get smaller and the font stays the same size. This way the document stay readable.
With the cinder theme, png images do not get smaller on desktop, but I do get a scrollbar.
On an i

[2016-02-01 14:47] voptiplex commented on #6
Just to add my setup:
- MkDocs 0.15.1 with latest Cinder.
- a Mac with Safari or Chrome (same result)
- iPhone 6 with ios 9

[2016-02-02 01:30] chrissimpkins commented on #6
Would it be possible to toss both sites up on a public repository/hosting site so that I can have a look at the style sheets?  Off the top of my head, I'm not certain what is going on but we should be able to do some digging and figure this out.  I did not modify any image settings in the Cinder CSS file:

https://github.com/chrissimpkins/cinder/blob/master/cinder/css/cinder.css

Will start with a

[2016-02-02 11:01] d0ugal opened #7 "Upload Theme to PyPI"
With the release of MkDocs 0.15 it would be great to have this uploaded to PyPI so users can easily pip install it. The documentation for doing this can be doing here:

http://www.mkdocs.org/user-guide/custom-themes/#packaging-themes

This is a new feature and the documentation probably not totally great yet, so let me know if I can help!

[2016-02-02 11:54] chrissimpkins commented on #7
Will have a look at the docs and give it a shot.  Thanks Dougal!

[2016-02-02 21:54] chrissimpkins commented on #7
It's live on PyPI.

https://pypi.python.org/pypi/mkdocs-cinder/0.9.3

How do I test it?

[2016-02-02 21:58] chrissimpkins commented on #7
And can users install with this approach?

[code]

then add the following to their mkdocs.yml file:

[code]
I used cinder as the entry point in the setup.py file.  Or do they need to enter the PyPI package name mkdocs-cinder?

[2016-02-02 22:19] d0ugal commented on #7
Your example is correct, the theme name is based on the entrypoint in the setup.py. I've only briefly looked at the code (from my phone) but it all looks correct. Does it work of you pip install and set the theme name? The output from 'mkdocs build --help' should list all the installed themes too.

I can try tomorrow.

[2016-02-02 22:23] chrissimpkins commented on #7
Excellent, it installs from PyPI without issues and it is listed in the `mkdocs build --help` theme list.  I will give it a try on a site this evening.  Thanks for your help Dougal.

[2016-02-03 08:48] d0ugal commented on #7
![image](https://cloud.githubusercontent.com/assets/48211/12777145/c68b08ba-ca52-11e5-99ac-5f0f7b81cfa2.png)

Yeah, it works great :smile:

[2016-02-03 08:48] #7 closed

[2016-02-03 11:45] chrissimpkins commented on #7
:+1: great!

[2016-02-16 23:21] chrissimpkins commented on #6
@voptiplex Just checking in to see if you would still like to work on this issue.

[2016-04-04 00:20] cudmore opened #10 "Can you add a yml variable to toggle search?"
Hi there,

Can you add a yml variable like 'include_search' so we can toggle the search in the navigation bar on and off? I've added this to my local copy of Cinder with the following {% include_search %}/{%  endif %} in nav.html

[code]

Thanks for the wonderful theme. I normally tweak Jekyll for larger sites and wanted to use mkdocs/cinder for a very small (3-4 page) site. Cinder is great out of

[2016-04-04 10:25] chrissimpkins commented on #10
Do you want to contribute this as a pull request?

[2016-04-07 12:30] chrissimpkins commented on #10
Will take that as a no :)

[2016-04-07 12:32] #4 closed

[2016-04-20 20:32] SinisterMinister opened #12 "Scrollspy and HighlightJs not playing nicely together"
If you have a document of substantial length with a lot of code blocks, Scrollspy will fall out of sync as HighlightJS does its stuff after Scrollspy has been applied.

For an example, I clicked on the `.tugboat/app.json` link in the sidenav, and you can see that it's not correctly lining up the content with the navigation.

![fail](http://i.imgur.com/jZm1jx8.png)

The fix is simple and I'll attac

[2016-04-20 23:46] SinisterMinister opened #14 "Allow for auto-collapsing sidenav a la Bootstrap's doc site"
While working on a very large document, the sidenav ToC can be quite unwieldy where it will flow past the viewport with no way to scroll to access the remaining links, for instance:

<img width="1166" alt="screen shot 2016-04-20 at 5 33 06 pm" src="https://cloud.githubusercontent.com/assets/800441/14693778/4b99d7a8-071f-11e6-9a02-37f85e17ec20.png">

Might be hard to see, but at the bottom, the edg

[2016-04-21 12:29] chrissimpkins commented on #14
I was a bit concerned about this when we added the third level of headers to the sidebar in #9.  I would definitely be in favor of this approach.  Let's bring @trehn into the conversation for input since he added the third level headers in that pull request.

@SinisterMinister what change is involved and do you still feel that it would be possible to make this either default but optional, or non-d

[2016-04-21 12:32] chrissimpkins commented on #14
@SinisterMinister those docs look very nice btw :)

[2016-04-21 12:57] trehn commented on #14
This seems like a reasonable way to help with long pages. I would prefer for it to be configurable per-page and off by default though, as most of my navs will fit easily on most screens and it would be a bit silly to collapse just two or three subheadings on short pages.

[2016-04-21 14:40] SinisterMinister commented on #14
@chrissimpkins:

I had to refactor the ToC template a bit to achieve this. Made it match what they were doing on the Bootstrap docs.

I think so. I had to dive a bit deeper into mkdocs to see what they were doing, but I think we can make this opt-in or opt-out, just need to know what your preference is.

So, I added another level for my stuff, but I think I can make that configurable as well. Migh

[2016-04-21 16:26] SinisterMinister commented on #14
Alright, I was able to get that setup. Here's how it would work:

## Collapsable ToC

So right now, it defaults to disabled as that's the current implementation. To enable it, you can do so globally by setting `extra.collapse_toc` to true in your `mkdocs.yml` like so:

[code]

This will enable it site-wide. You can also use page-specific overrides by adding a `meta

[2016-04-21 17:39] SinisterMinister commented on #14
Alright, I was able to get that setup. Here's how it would work:

### Collapsable ToC

So right now, it defaults to disabled as that's the current implementation. To enable it, you can do so globally by setting `extra.collapse_toc` to true in your `mkdocs.yml` like so:

[code]

This will enable it site-wide. You can also use page-specific overrides by adding `collapse_toc` to the meta section of y

[2016-04-22 01:41] chrissimpkins commented on #14
I really like it Cody.  Definitely favor more options that improve usability.  I might need some assistance with the description of the new settings on the project documentation but we can address it once we merge.  No separate issue report is needed.  If you are willing to add all of the above suggestions that you made into a single PR (or multiple if you feel that we may need to work on them ind

[2016-04-22 17:04] SinisterMinister commented on #14
Alright, I've got the #15 PR done with all the updated docs and then some. You might want to decline #13 as this includes the same fix, or just merge them in order. ¯\_(ツ)_/¯

[2016-04-22 17:05] SinisterMinister commented on #14
Oh, I didn't build the actual site though, so you'll still need to do that. Just FYI.

[2016-04-22 19:13] SinisterMinister commented on #14
I should also add that I changed `toc_levels` to `toc_depth` as it felt a bit more correct. I can change it back if you'd like. Just let me know.

[2016-04-22 19:43] SinisterMinister commented on #6
It appears to be a super simple fix. I'll whip it up real quick.

[2016-05-11 10:47] jackmitch opened #18 "highlight js not doing correct syntax highlighting"
I'm not sure where this problem lies but highlight JS is not correctly syntax highlighting some code. There is an example here: http://jackmitch.github.io/libsoc/c/gpio#libsoc_gpio_request

If you compare libsoc_gpio_request to libsoc_gpio_free there are two different styles used. However they are declared the same way in the doc files: https://raw.githubusercontent.com/jackmitch/libsoc/master/sta

[2016-05-12 03:40] chrissimpkins commented on #18
Our version of highlight.js is from at least 8 months ago.  I took a look at the changelog and it appears that more recent versions have addressed C/C++ function definitions and pointer definitions.

Mind downloading the current version of highlight.js from here https://highlightjs.org/download/

and install it over the current version that we release in your site's `js` directory as `highlight.pa

[2016-05-12 08:09] jackmitch commented on #18
The new highlight JS throws some javascript errors, I've added and pushed the new version to my docs repo so you can see the errors.

https://github.com/chrissimpkins/cinder/issues/18#issuecomment-218651617

[2016-05-12 08:16] jackmitch commented on #18
OK, scratch that I was being daft. The new highlight js does fix the syntax highlighting.

[2016-05-12 12:52] chrissimpkins commented on #18
Fantastic.  Good to hear.  Did you create a custom language build or use the default language support set?

[2016-05-12 12:55] jackmitch commented on #18
I just used the default set of languages.

[2016-05-12 13:15] chrissimpkins commented on #18
Thank you!

[2016-06-05 16:37] whadar opened #19 "Focus on search box"
When clicking the search button, the focus should be on the search box so users could type immediately without clicking again on that box.

[2016-06-05 16:40] whadar opened #20 "Search on type"
It could be useful to pop the search box when someone starts typing. Currently, AFAIK, there are no other events that listen to the keyboard key down so it should be feasible.

[2016-06-10 03:25] chrissimpkins commented on #20
You are assuming a web developer lives here :)

Do you know of a library that does this?

[2016-06-10 03:26] chrissimpkins commented on #19
@burodepeper any time/interest in helping with some of these web development issues?

[2016-06-10 04:08] burodepeper commented on #19
@chrissimpkins: sure, I'll have a look

[2016-06-10 10:05] chrissimpkins commented on #19
@burodepeper thanks David!

[2016-06-13 13:43] whadar commented on #19
Thanks @chrissimpkins @burodepeper

[2016-06-13 13:45] whadar commented on #20
@chrissimpkins hehe, unfortunately not!

[2016-06-13 14:00] chrissimpkins commented on #20
Thanks.  I have a couple of outstanding pull requests here too.  Will try to get back to work on this project soon!

[2016-06-13 14:30] burodepeper commented on #19
See PR #21

[2016-06-14 12:45] chrissimpkins commented on #19
@whadar want to give the PR a shot and see if it meets your request?

@burodepeper thanks David

[2016-06-19 09:21] whadar commented on #19
@chrissimpkins thanks, will do soon

[2016-06-19 11:31] chrissimpkins commented on #19
@whadar thanks

[2016-09-26 14:22] lebigot opened #23 "Zooming out issue"
The side bar collapses in the main text when zooming out (Safari macOS): https://github.com/mkdocs/mkdocs/issues/1050

[2016-11-24 08:26] gurnard123 opened #24 "Long menu or sidebar is hidden outside bottom of browser"
If there is a long page with 20 + headings then the sidebar does not scroll into view when page scrolls so the bottom items are permanently hidden.
You can see in the attached image I am on the bottom section but there is still loads more content that I can scroll (see scrollbar) but the menu does not scroll with the content.

![sidemenu](https://cloud.githubusercontent.com/assets/8625592/20591298

[2017-03-06 22:11] leventelist commented on #6
See my pull request. I've fixed that like you said.

[2017-03-09 23:27] evitalis opened #28 "Warnings when building documentation"
Just installed cinder and got the following warnings when building my documentation.

[code]

[2017-03-11 06:40] welkie commented on #28
Getting this warning too.

[2017-04-17 16:11] evitalis commented on #28
@welkie I have forked this and will begin to work on fixing it soon. You can see my repo for more info. Will also do a PR when complete but it may not be merged.

[2017-05-13 00:05] scotte commented on #28
Turns out there was already an existing pull request for this, but it neglected to reference this issue - it also had duplicate code for favicon, which wasn't quite right.

Hopefully this helps others...

[2017-05-17 12:42] garry-jeromson opened #30 "Parent menu item links to current page in multi-level page navigation"
Essentially a duplicate of https://github.com/mkdocs/mkdocs/issues/779. Fix detailed here:
* https://github.com/mkdocs/mkdocs/pull/984/files

[2017-10-19 03:12] wupeng1988 commented on #24
Fixed, repo link: [MyForkRepo](https://github.com/wupeng1988/cinder)

[2017-11-26 18:53] trevor-white-ck opened #32 "Upgrade Cinder for compatibility with mkdocs 0.17"
@chrissimpkins - I have completed this locally - happy to cut a PR if you're open to it. I've tested and things are working well. There's some documentation updates we should include as well - can add those to my PR as well.

[2017-11-27 14:02] chrissimpkins commented on #32
I have been grossly negligent with this project and am *trying* to get to updates every six months or so.  There are a number of outstanding PR's that I need to tackle at some point.

Definitely would be willing to merge a straightforward PR that does not involve a great deal of source review at this stage.

I haven't kept up with mkdocs changes as of v0.17.  What should I be expecting for changes

[2017-12-28 02:06] ketozhang commented on #32
That's quite unfortunate. I find Cinder the best fit for what I need. It's so clean and nice looking. Can't help you out much but just a +1 to this suggestion.

[2017-12-28 13:37] chrissimpkins commented on #32
@trevor-white-ck can you submit the PR that you proposed or point me to documentation on how mkdocs was modified that breaks this theme?

[2017-12-28 13:39] chrissimpkins commented on #32
@ketozhang if we don’t get a response to the above request can i ask you to submit the error message that you receive when you attempt to build?  Thanks.   I intend to fix this so that it is usable.

[2017-12-28 19:04] mmatyas commented on #32
+1

Here are the deprecation warnings I get with mkdocs 0.16.3:

[code]

And the hard error with 0.17:

[code]

Here's the mkdocs changelog: http://www.mkdocs.org/about/release-notes/

[2017-12-28 19:05] trevor-white-ck commented on #32
I have a patch ready for this already. I will cut a PR for the upgrade to 0.17 today or tomorrow.

[2017-12-28 23:52] chrissimpkins commented on #32
@mmatyas @trevor-white-ck thank you both. will get the PR merged when it is available.

[2018-01-03 13:45] chrissimpkins commented on #32
@trevor-white-ck Something that you are still willing to push for us Trevor?

[2018-01-03 13:50] trevor-white-ck commented on #32
Yep will push a pr this morning! Sorry for the delay.

On Wed, Jan 3, 2018 at 5:46 AM Chris Simpkins <notifications@github.com>
wrote:

--

*Trevor White | Senior Engineering Manager | Credit Karma, Inc.*

P: 415.510.5116 <javascript:void(0);>

trevor.white@creditkarma.com | www.creditkarma.com
<https://urldefense.proofpoint.com/v2/url?u=http-3A__www.creditkarma.com_&d=CwMGaQ&c=clK7kQUTWtAVEOVIgvi

[2018-01-03 13:51] chrissimpkins commented on #32
No worries!  I accept all of the blame for the delay here.  You are helping.   :)

[2018-01-03 19:28] trevorwh commented on #32
@chrissimpkins just a heads up, I'll submit this PR from my personal account (not my work account). You'll see it in the next couple hours.

[2018-01-03 19:30] chrissimpkins commented on #32
@trevorwh thank you!!

[2018-01-03 19:31] chrissimpkins commented on #32
@trevorwh and no rush!  Just following up with you earlier.  If you didn't intend to submit it, I was going to try to get it done.

[2018-01-03 20:23] trevorwh commented on #32
@chrissimpkins we are good to go!

[2018-01-04 00:51] #32 closed

[2018-01-04 01:03] chrissimpkins commented on #28
Fixed in v0.10.0

[code]

[2018-01-04 01:03] #28 closed

[2018-01-04 01:04] chrissimpkins commented on #32
Thanks so much Trevor!!

Trevor's fixes available in v0.10.0

Available on PyPI:

[code]

[2018-01-17 12:07] anonaut opened #34 "Option for selfhosted css/js"
Hey, really love the theme. I created some documentation for my work today and now have the problem that it takes up to a minute to load the external resources and display the site in internet explorer. i guess our corporate av/ids takes forever checking the js code before finally letting me load. Any chance to change the source to make it possible to selfhost the needed js/font files?

[2018-01-17 13:08] chrissimpkins commented on #34
Wow one minute is a long time. Do you know which external resources are the offenders?

[2018-01-27 00:28] marcelstoer opened #35 "Incomplete MkDocs >=0.17 support"
Found two issues that seem to stem from incomplete MkDocs >=0.17 support.

Running `mkdocs serve` yields:

-> https://github.com/mkdocs/mkdocs/blob/master/docs/about/release-notes.md#theme-customization-1164

And then later when browsing the docs:

-> likely this: https://github.com/mkdocs/mkdocs/blob/master/docs/about/release-notes.md#plugin-api-206

[2018-01-27 00:46] marcelstoer opened #36 "Support for admonition"
Would be helpful if you added support for

[code]

Inspiration:
- https://github.com/mkdocs/mkdocs/blob/master/mkdocs/themes/mkdocs/css/base.css#L233
- https://raw.githubusercontent.com/rtfd/readthedocs.org/master/readthedocs/core/static/core/css/theme.css (no whitespace 😢 ) -> `.admonition`
- https://squidfunk.github.io/mkdocs-material/extensions/admonition/

[2018-01-27 00:52] marcelstoer opened #37 "toc:permalink somewhat broken/ugly"
[code]
Renders permalinks next to `h` elements but they're static-always-on. The more common behavior found around the internet is they're only displayed on hover.

Inspiriation:
- https://github.com/mkdocs/mkdocs/blob/master/mkdocs/themes/mkdocs/css/base.css#L39
- https://github.com/mkdocs/mkdocs/blob/master/mkdocs/themes/mkdocs/css/base.css#L220-L229

[2018-01-30 09:19] MarinBernard opened #38 "Add a new setting to disable highlight.js"
Hi,

Would it be possible to introduce a new theme setting to disable the highlight.js extension ?

This is a much-needed feature as highlight.js may conflict with other JS scripts, such as the mermaid drawing engine which I use heavily. So far, this conflict prevents me from using cinder on my mkdocs instances.

Thanks!

[2018-01-30 14:30] chrissimpkins commented on #38
Thanks for the request Marin.  Seems like a reasonable thing to offer in the theme.  Is this something that you would be willing to PR in?  It will be some time before I can circle back around to this project to implement the new suggestions here but I should be able to merge a PR for these changes relatively quickly.

[2018-01-31 09:48] MarinBernard commented on #38
I was able to disable highlight.js integration successfully. However, there is a pending issue which prevents me from committing the changes: as soon as the `highlight.pack.js` script is disabled (i.e.: not loaded), html tables become ugly as they are rendered without several expected CSS classes:

### With highlight.pack.js
[code]

### Without highlight.pack.js
[code]

This implies that `highligh

[2018-01-31 12:32] chrissimpkins commented on #38
great thanks for looking into this!

[2018-02-25 05:54] BlackJackZXP opened #39 "the license link cannot work"
add the [copyright: "Cinder is licensed under the <a href='https://github.com/chrissimpkins/cinder/blob/master/LICENSE.md'>MIT license"] in mkdocs.yml,
but no effect.

[2018-02-25 12:48] chrissimpkins commented on #39
I don't understand the report here.  Can you provide additional details?

[2018-02-28 02:39] #39 closed

[2018-03-10 14:22] #6 closed

[2018-04-18 03:04] sbellware opened #43 "ToC menu doesn't scroll when it's longer than the browser window height"
Google Chrome
Version 65.0.3325.181

[2018-04-18 13:14] chrissimpkins commented on #43
Thanks for the report.  I've no idea how to fix such a problem.  Let's see if a PR comes along to address it.  Sorry for the troubles...

[2018-05-29 09:19] handbye opened #44 "can not support chinese search ."
thank you for this theme , I come from china. i should write chinses document. but i find it do not support Chinese search. only english.

so, can you do further optimization.

thanks very much!

[2018-05-29 12:26] chrissimpkins commented on #44
Thanks for the report @handbye.  The search capabilities are provided by the upstream MkDocs project.  We don't have control over it.  Can I ask you to post this issue on that repository?  Please feel free to reopen to let us know what you find.   Sorry for your troubles.

[2018-05-29 12:26] #44 closed

[2018-05-30 05:04] handbye commented on #44
@chrissimpkins  thank you for yuour answer.  i find a theme can support chinese search, so i think  The search capabilities are not  provided by the upstream MkDocs project.  About MkDocs project, i do not really understand.
The documentation for this theme  [https://github.com/squidfunk/mkdocs-material](https://github.com/squidfunk/mkdocs-material)

About search  [https://squidfunk.github.io/mkdo

[2018-05-30 13:20] chrissimpkins commented on #44
@handbye It looks like the mkdocs-material theme that you linked is using https://lunrjs.com/ as the search source for the theme.  If lunr.js performs search with CJK languages, you would need to update this theme with lunr.js in order to support this search.

[2018-06-17 06:38] dopeideas commented on #36
Also seeking admonition support.

[2018-06-19 12:14] chrissimpkins commented on #36
Thanks for the suggestion! Will have a look into it when I return to this project.  It sounds as though MkDocs v1.0 is being pushed later this summer.  Do you know if there is still support for this in that release?

[2018-08-21 08:11] Martian101 opened #46 "content of mkdocs_theme.yml cannot be empty"
It seems that `mkdocs_theme.yml` cannot be empty for mkdoc 1.0. When run  `mkdocs serve`， I got Traceback as follows:
[code]
Just fill the file with some content followed the grammer of yaml resolved this issue.
My Python version is 3.5.2.

[2018-08-21 12:42] chrissimpkins commented on #46
Thanks for this feedback! Can you point to the documentation for the file or provide a snippet of the data that you entered to make it work?

Related issue https://github.com/chrissimpkins/cinder/issues/45

[2018-08-21 13:14] Martian101 commented on #46
Not so familiar with Python. I checked the last commited changes to file [`mkdocs/theme.py`,](https://github.com/mkdocs/mkdocs/commit/c99ea4e250379df3fc704ce1c917e4ce94d4ab3b#diff-e4bb3acc024c8ba6920d54f37d18980b) where method `yaml_load` might return a NoneType when file `mkdocs_theme.yml` is empty：
[code]

Then I add some dummy option like this:
[code]
and everything goes fine.

[2018-08-21 13:40] chrissimpkins commented on #46
Ah, I see.  They must have included a new way to support custom templating features with 1.0.  Sorry I haven't used mkdocs in some time so I have not kept up with changes.  Will update the settings file and push a new release to see if this addresses the problem.  Thanks for this information. I really appreciate your time looking into the issue.

[2018-08-21 13:41] chrissimpkins commented on #46
cc @deltamualpha see above.  This may be the fix for you as well.

[2018-08-21 13:43] deltamualpha commented on #46
Excellent, that directly contradicts their documentation of `mkdocs_theme.yml`.

[2018-08-21 13:56] chrissimpkins commented on #46
If that is the case then it is a bug and a report belongs on their repository.  Can you confirm that adding a yml field fixes the issue for you @deltamualpha? If this seems to be the root of both of your problems one of us can report it there so that they fix it.  I can support a mock field in our file as a workaround.

[2018-08-22 15:54] chrissimpkins commented on #46
You are correct @deltamualpha.  Here is what their documentation states about the `mkdocs_theme.yml` file:

Source: https://www.mkdocs.org/user-guide/custom-themes/#theme-configuration

[2018-08-22 16:06] chrissimpkins commented on #46
Added a mock setting in the `mkdocs_theme.yml` file and pushed this as release v0.12.2.  Now available through PyPI. Can you confirm that this now works for you?

[2018-08-22 16:10] chrissimpkins commented on #46
Reported as a bug on the mkdocs repository https://github.com/mkdocs/mkdocs/issues/1602

[2018-08-22 16:17] deltamualpha commented on #46
Made a PR!

[2018-08-22 17:16] chrissimpkins commented on #46
This was fixed with David's patch in mkdocs.  Should work in versions 0.12.1 and 0.12.2 now.

[2018-08-22 17:16] #46 closed

[2018-08-27 21:13] psifertex commented on #36
1.0 is out and it looks like these are still included:

https://squidfunk.github.io/mkdocs-material/extensions/admonition/

[2018-08-28 17:04] chrissimpkins commented on #36
Thanks.  On the list ;)

[2018-08-30 15:12] ponpal opened #47 "Running mkdocs serve and mkdocs build gives different results"
When running mkdocs serve locally I get the following (desirable) result:

![image](https://user-images.githubusercontent.com/3107182/44860659-0e8ce300-ac77-11e8-8a85-7d56da396e4a.png)

But when I build my site using mkdocs build I get the following (undesirable) result:

![image](https://user-images.githubusercontent.com/3107182/44860729-3c722780-ac77-11e8-93b4-a1594d110346.png)

In the second ex

[2018-08-30 17:27] chrissimpkins commented on #47
Are you able to diff the HTML that you get when you build against that which you view with the local server?  Don't know what is going on here or why the mkdocs build would differ.

[2018-08-31 07:32] ponpal commented on #47
On the index.html the only diff I get is that the local server has the following:

`<link rel="canonical" href="http://127.0.0.1:8000/index.html">`

and

`<script type="text/javascript">document.write("<script src=//" + window.location.hostname + ":8000/livereload.js?port=8000> </"+"script>");</script>`

Both of these lines are in the header.

[2018-08-31 12:07] chrissimpkins commented on #47
Thanks.  Can you also diff the CSS file that is linked in the index.html file?  It is difficult for me to tell in the images.  Do you think that you are seeing different typefaces or the same typeface but different weights?

[2018-08-31 15:15] ponpal commented on #47
The css file of the theme (cinder.css) is identical in both cases. I also tried starting with an empty mkdocs project and adding the cinder theme (to see if there was anything wrong in my project), but I get the same issue in the empty project.

[2018-08-31 20:48] mmatyas commented on #47
The fonts and icons are included as `<link href='//domain/something'>`: the `//` means "keep the scheme", so if the page is served as `https://` for example, the `//` will turn into `https://`. When you open the page locally, that's loaded as `file://`, so all remote fonts URLs will resolve to `file://something` and fail to load.

This isn't strictly a bug, unless you want it to work offline witho

[2018-09-02 05:40] ponpal commented on #47
Thank you mmatyas, that did the trick!

[2018-09-02 05:40] #47 closed

[2018-09-03 22:46] chrissimpkins commented on #47
@mmatyas Thanks for your help!

[2018-09-03 22:54] chrissimpkins commented on #35
This should be fixed as of the current release.  We have upgraded to support v1.0+ of mkdocs.  Please reopen if not.  Thanks

[2018-09-03 22:54] #35 closed

[2018-09-04 12:14] chrissimpkins commented on #36
I am not seeing any documentation of this feature in the mkdocs docs. Can you confirm that if you add:

[code]

to the mkdocs.yml settings file, you can use admonitions in your sites?  I can confirm that the master branch of the mkdocs source still has CSS support for admonitions https://github.com/mkdocs/mkdocs/search?q=admonition&unscoped_q=admonition

[2018-10-03 13:56] Katospiegel opened #49 "Problem with url filter"
I have this problem

[code]

[2018-10-04 00:41] chrissimpkins commented on #49
Sorry for the troubles! Can you let me know what you are doing that leads to this problem? Are you building your web pages?  Also please specify version of mkdocs, Cinder, and your OS.  Let's see if we can get to the bottom of it.

[2018-10-04 09:27] mmatyas commented on #49
There were a few API changes in mkdocs 1.0, and adding the `url` filter is now required for the navigation links to work (see #48). Updating mkdocs to 1.0+ should fix this error.

[2018-11-09 13:22] dimitarsp opened #52 "Very slow load times when building on local machine"
Hi, loving the theme, but when I built the site locally, and access it from file explorer, it takes 30 seconds + to load. I have commented out highlight js and google fonts in base.html, but it still seems to take a very long time to load locally.

[2018-11-09 15:10] chrissimpkins commented on #52
Strange.  This has not been reported before.  Please include your browser + platform and the versions of each in this report.

Are you able to use the web developer tools in your browser to help debug this issue?

Here are docs for Firefox: https://developer.mozilla.org/en-US/docs/Tools/Performance

Here are the docs for Chrome: https://developers.google.com/web/tools/chrome-devtools/

Performance

[2018-11-09 21:36] dimitarsp commented on #52
It seems to be google fonts. I have tried it both at work and at home and in both settings, it takes quite long to load. :

![new2](https://user-images.githubusercontent.com/2496411/48289203-8ab95900-e466-11e8-9196-1a62333a9299.JPG)

![new](https://user-images.githubusercontent.com/2496411/48289212-8c831c80-e466-11e8-9c08-5df6781858d8.JPG)

I have tried to disable google fonts by copying base.html

[2018-11-13 15:02] chrissimpkins commented on #52
Sorry for the delay in getting back to you.  Try adding the protocols (`https://`) to the head information for Font Awesome and the Google Fonts URL on the `base.html` page, leave it in the directory where it is currently located, and build again.  No need to change the directory for local modifications.  These files serve as your template for your local builds. Note that if you make local changes

[2018-11-14 10:47] dimitarsp commented on #52
@chrissimpkins thanks for your answer. I can confirm that if I comment out the google font rel link lines in base.html located in python/site-packages/cinder, without using `custom_dir`, it works as intended.

What I am struggling to understand is why mkdocs isn't picking up the `custom-dir` as specified in their [docs](https://www.mkdocs.org/user-guide/styling-your-docs/#using-the-theme-custom_di

[2018-11-14 12:46] chrissimpkins commented on #52
are you using this setting?:

[code]

[2018-11-14 14:47] dimitarsp commented on #52
Yes, that's the setting I am trying to use.

[2018-11-14 15:59] chrissimpkins commented on #52
I would recommend reporting that on the mkdocs repo and see if they can troubleshoot it for you.  If there is a theme issue that we can fix to enable this in some way let me know.  Will leave open until you get this resolved.

[2018-11-14 17:11] dimitarsp commented on #52
Cheers! Thanks for the support and for the awesome theme!

[2018-11-14 22:19] chrissimpkins commented on #52
let us know if you find a solution to over ride the theme.  will be glad to add to docs.  sorry for troubles!

[2018-12-01 15:03] #52 closed

[2018-12-04 02:49] chrissimpkins commented on #43
The fix for this was submitted in #55 and will be released in Cinder v0.15.0 which is currently available in PR #56

[2018-12-04 02:50] chrissimpkins commented on #43
Big thanks to Terry Zhao for submitting the fix!

[2018-12-05 02:52] chrissimpkins commented on #36
I've implemented support for admonitions and will release this in v0.15.0 (see PR #56)

Here are previews of the styles that will be supported in this release:

<img width="918" alt="h5p7z-image" src="https://user-images.githubusercontent.com/4249591/49486982-7f134500-f80e-11e8-89f5-b5d391408ffb.png">

<img width="909" alt="qruw2-image" src="https://user-images.githubusercontent.com/4249591/494869

[2018-12-05 03:17] #36 closed

[2018-12-05 03:17] #43 closed

[2018-12-05 03:33] chrissimpkins commented on #36
See documentation at https://sourcefoundry.org/cinder/specimen/#admonitions for additional details.  This is now available for use.

[2018-12-23 16:21] geaaru opened #58 "Refactor package name to avoid conflicts"
`cinder` package name is used by Openstack Cinder module.

Can you refactor package name to mkdocs-cinder or other name ?

So, users could be have at same time both packages.

Thanks in advance

[2018-12-23 20:30] chrissimpkins commented on #58
The package is pushed to PyPI as mkdocs-cinder.  Do you need me to change it somewhere else?

[2018-12-24 01:12] geaaru commented on #58
Yes, i need that you change `cinder` directory of the project in `mkdocs_cinder` or `mkdocs-cinder` or other.

To avoid this errors in Gentoo/Sabayon Linux:

[code]

Thank you for your fast reply.

[2018-12-24 01:53] chrissimpkins commented on #58
Do you manage either Gentoo package?  The change would alter the way that users need to set the Cinder theme in their MkDocs yml files which will break every build that is currently out there.  Is Gentoo using the PyPI version? If so is it possible to create a custom Gentoo package that uses the pathing that you need?  We can add this information to the docs for Gentoo users if someone is willing

[2018-12-25 10:09] geaaru commented on #58
Hi, i'm a Sabayon dev and Gentoo Proxy Maintainer dev and yes, my idea is push ebuild for cinder package to portage in the next days.
Can you create a different branch with a different versioning number that move path to a compliant destination ? I prefer avoid create a patch with a refactor for any new release and this is recommended by Gentoo rules. Patches could be always small. So, probably th

[2018-12-27 14:41] chrissimpkins commented on #58
Sure happy to create a new branch for this work.  Will be back around to this project soon and will let you know.

[2019-01-02 03:12] spacemudd opened #59 "Unable to show dropdown menu - jQuery crash"
Hello,

I installed mkdocs and cinder via choco/pip.

My settings:

[code]

When I click on 'Features' on the top menu, this error shows in my browser's console.

`Error: Syntax error, unrecognized expression: #`

The nav bar works fine using the default theme for mkdocs.

Thank you.

[2019-01-02 12:22] chrissimpkins commented on #59
Will look into it.  Sorry for the troubles!

[2019-01-02 13:34] spacemudd commented on #59
Thank you! Really loving the theme. I'll try to fix on my end if I managed to do so.

Oh and P.S, it occurred on latest Chrome/FF.

[2019-01-02 14:39] chrissimpkins commented on #59
Sounds great!

Can you confirm you are on the latest release of cinder? As I recall, I updated jQuery to the current version in the last release here.

[2019-01-03 20:42] GoogleFeud commented on #59
Same here! I'm on version `mkdocs-cinder==0.15.0` and I am unable to open dropdown menus!

[2019-01-06 02:32] GJasonAnderson commented on #59
Just upgraded to 0.15.0 and am experiencing the same thing - glad to see it's already being worked on.

[2019-01-06 13:37] chrissimpkins commented on #59
Thanks for all of your reports and apologies again for the troubles.  I think that I found the problem.  I escalated the jQuery version beyond the Bootstrap support.

Can I ask you to try the following to confirm that it fixes your issue?

This will require you to either start a local server (not the mkdocs server) to view the files, load your modified site build to a remote server, or modify each

[2019-01-06 21:45] GJasonAnderson commented on #59
Yep, that fixed it for me.

[2019-01-06 21:46] chrissimpkins commented on #59
Excellent, thank you! I imagine that is the problem for all.  I will get a new release out and notify here when available on PyPI.

[2019-01-08 02:50] chrissimpkins commented on #59
This bug fix was released as v0.16.0 and is now available through PyPI.  Thanks for the report and for testing the fix!  Please let me know if you have any other issues with the theme.

[2019-01-08 02:50] #59 closed

[2019-01-08 08:40] HadrienG commented on #59
0.16.0 fixed it for me. Thanks a lot!

[2019-01-08 12:31] chrissimpkins commented on #59
@HadrienG Excellent! Thanks for letting me know.  Enjoy!

[2019-01-10 22:11] chrissimpkins commented on #58
I am prepared to push this branch for you.  Can you either let me know the exact source (including paths) changes that you need to support your release workflow or submit a pull request with these changes and I will push them to a `gentoo` branch for you?

[2019-01-11 11:13] geaaru commented on #58
Hi chrissimpkins,
thank you very much for your support. I think that if you move your code from `cinder` to `mkdocs-cinder` (or `mkdocs_cinder`) as package name there aren't then conflicts with [Openstack Cinder module](https://github.com/openstack/cinder).

Can you bump then a release related to `gentoo` branch after refactor ?

[2019-01-11 13:11] chrissimpkins commented on #58
This is where I am confused because we are already doing this.  The PyPI package is named "mkdocs-cinder":

https://github.com/chrissimpkins/cinder/blob/3278848970372b706bfea574d144af4e6569406f/setup.py#L7

https://pypi.org/project/mkdocs-cinder/

There is a cinder directory for the theme files in this project but I am failing to see how there is a namespace collision that is causing problems on y

[2019-01-12 10:50] geaaru commented on #58
Problems are connected to cinder directory of the project.

Currently, if you try to install ebuild of [mkdocs-cinder](https://github.com/geaaru/geaaru_overlay/blob/master/dev-python/mkdocs-cinder/mkdocs-cinder-0.16.0.ebuild) without changes these are examples of installed files:

[code]
Directory `/usr/lib64/python3.6/site-packages/cinder` it's already used by Openstack Cinder and so if a user wa

[2019-01-12 12:49] chrissimpkins commented on #58
Will need to check the MkDocs documentation to figure this issue out.  As I recall, MkDocs specifies this naming for packages that are released through PyPI.  I would not be prepared to eliminate PyPI releases to support this but I bet there is a workaround that will allow us to support both approaches.  It may be possible to simply change the mkdocs specific metadata in the setup.py file so that

[2019-01-12 14:11] geaaru commented on #58
I will try to do some tests. But I don't think that will be possible maintains settings file with `cinder` and resolve conflicts. Import of mkdocs-cinder theme uses same python namespace resolution probably.

[2019-01-13 18:08] mikecentola opened #61 "Footer Block should include revision"
The footer block code should include the revision statement so that it can be overridden in a main.html file if wanted.

[code]

Change to:
[code]

[2019-01-13 19:53] chrissimpkins commented on #61
You are absolutely correct.  I agree.  Want to turn your IR into a pull request with the change and we will push a new version out?

[2019-01-13 19:58] mikecentola commented on #61
Yeah I'll fork it

[2019-01-16 03:56] chrissimpkins commented on #61
Mike, this was merged and pushed to PyPI in release v0.16.1.  It is now live and available.  Thank you very much for this fix!

[2019-01-16 03:56] #61 closed

[2019-01-16 13:45] #18 closed

[2019-01-23 00:18] anlau opened #64 "404 page (404.html) is not generated"
Not exactly sure why but the 404.html file is not generated in `site_dir` when running `mkdocs build`. Even when it is generated (using `static_template` and by-passing an error), it contains broken links.

I could probably address the problem in a PR. Let me know.

[2019-01-23 03:14] chrissimpkins commented on #64
If you have the time/energy to tackle it, I would gladly take a PR to fix this.  Thanks for pointing it out!  Sorry that I missed this.

I don't know if I created it manually at some stage or how I generated the page, but this is how it appears in the mockup of the theme on our site:

https://sourcefoundry.org/cinder/404.html

Artistic license is yours.  Feel free to create an appearance that will

[2019-01-23 03:15] chrissimpkins commented on #64
Your PR #63 was merged and we will plan to push the changes that you submit for this issue and those changes to the search modal as a new release.  No rush.  We can push whenever this is ready.

[2019-01-25 01:50] anlau commented on #64
The page you linked could have been generated quite some time ago: the jQuery version is the same as the one in the [initial commit](https://github.com/chrissimpkins/cinder/blame/9ff13a0de18defd5fcf3a5b748d4d9f72b78617c/cinder/base.html#L94) made four years ago.

MkDocs default themes have this two lines in `mkdocs_theme.yml`:
[code]

However, even if the page is generated, it would be displayed w

[2019-01-25 03:05] chrissimpkins commented on #64
Sure that sounds great.  Mind leaving this open and posting in here when they fix this upstream so that other users are aware?

If we are not going to fix anything on the theme side we can push your recent PR changes as a new release so that it is available.

[2019-01-25 03:44] anlau commented on #64
What is your stance on using new features added in recent versions of MkDocs? I think the [url filter](https://github.com/mkdocs/mkdocs/commit/decaf6141c90b0123a4b7f03ee839d0780570bc9#diff-478e33d29f8c7c5672b3d2b3a9b1d610) added in version 1.0.4 could fix the problem. It works locally. Not sure why it doesn't for https://www.mkdocs.org/missing/page.html.

[2019-01-25 06:05] chrissimpkins commented on #64
Not opposed.  We refactored for the v1.0 release of mkdocs and I don't believe that we still support releases below that level after the refactor.  Should be OK to expect v1.04 or higher if there are new features that are helpful. If this becomes a requirement we can add this to the docs & include in setup.py.

[2019-01-25 12:39] anlau commented on #64
Alright. It seems I was mistaken. The url feature is from 1.0 and is already used (see for example `nav.html`). So it should be fine if I use it in `base.html` too. Will create a PR soon.

[2019-01-25 12:51] chrissimpkins commented on #64
Sounds good!

[2019-01-26 19:30] chrissimpkins commented on #19
Changes in #63 merged to master!  Will push these changes in the next release.

[2019-02-01 17:55] chrissimpkins commented on #18
Sorry I didn't update the thread with details @automatonatm @jackmitch.  I updated the source highlighting in the [v0.15.0 release](https://github.com/chrissimpkins/cinder/blob/master/CHANGELOG.md#v0150).  This *should* be working appropriately now for all supported source languages.  See https://sourcefoundry.org/cinder/specimen/#language-support for languages that are currently supported.  If yo

[2019-02-03 21:35] chrissimpkins commented on #64
Merged your changes into the master branch and will push a new release with your updates.  Thanks again Antoine.  I really appreciate your fixes here!

[2019-02-03 22:36] chrissimpkins commented on #64
Released and pushed to PyPI. Thanks!

[2019-02-03 22:36] #64 closed

[2019-02-03 22:37] chrissimpkins commented on #58
Ready to do this anytime.  Just poke me when you want to work on it.

[2019-02-07 05:00] anlau opened #66 "Broken link in base.html (Web Font Loader 1.6.28)"
The link in [line 36](https://github.com/chrissimpkins/cinder/blob/e44f83a0df832d20147d8fab31e1af4283cf7f2e/cinder/base.html#L36) of base.html (https://ajax.googleapis.com/ajax/libs/webfont/1.6.28/webfont.js) is not available on Google CDN. It returns a 404. It seems the latest version supported/published is 1.6.26 (see [here](https://developers.google.com/speed/libraries/#web-font-loader)) even t

[2019-02-07 12:55] chrissimpkins commented on #66
Thanks for noticing this Antoine.  I am OK with removing it.  Feel free to submit a PR if you would like to do this or I can take care of it when I roll back around to this project.

As an aside the latest issue report on the web font loader repository is a request for info about whether the project is even maintained at this stage...

[2019-02-09 23:21] geaaru commented on #58
Hi, I confirm that you can maintain cinder name with very few changes about setup.py.
See ebuild on my overlay: https://github.com/geaaru/geaaru_overlay/blob/master/dev-python/mkdocs-cinder/mkdocs-cinder-0.16.0.ebuild#L23

In general if  you change setup.py for use a different directory:
[code]
then you can rename cinder directory to mkdocs_cinder without impact to users.

[2019-02-12 03:30] chrissimpkins commented on #58
Thanks for the feedback! Your are able to build docs with cinder as the theme name when you use this pathing approach?

[code]

I will try to have a look at this during the upcoming week.

[2019-02-14 17:07] geaaru commented on #58
Yes, as I wrote in the previous comment with that changes no impact for users.

[2019-02-25 23:39] odan opened #67 "Stylesheets are blocked and scripts cannot be found"
I'm trying to generate a offline documentation for a API.

If I open the `index.html` file directly I get the following errors:

* Access to CSS stylesheet at 'file://use.fontawesome.com/releases/v5.5.0/css/all.css' from origin 'null' has been blocked by CORS policy
* GET file://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.min.css net::ERR_FILE_NOT_FOUND
* GET file://ajax.googleapis.com/aja

[2019-03-28 16:36] timganter opened #70 "Can't get shortcut keys to work."
I was reading https://www.mkdocs.org/user-guide/styling-your-docs/#mkdocs and looking at the part about shortcuts.

Using the Cinder theme, I wanted to change the next/previous shortcuts to the arrow keys. Here's what I put in my `mkdocs.yml`.

[code]

**The left and right arrow keys did not trigger next/previous.**

I tried removing the `shortcuts` so my `mkdocs.yml` looks like this....

[code]

[2019-03-28 16:59] chrissimpkins commented on #70
Thanks for the report Tim.  I will need to investigate how they are implementing that in the default theme.  TMK we have not included the code that does this in the derivative here.  This was based off of a pre 1.0 mkdocs release and it looks like they expanded their theme support upstream.  Happy to take a PR if you want to work on it.  If not I will try to have a look soon!

[2019-04-01 22:57] timganter commented on #70
Here you are! https://github.com/chrissimpkins/cinder/pull/71 Please note the caveat in the PR. Also, wouldn't mind another set of eyes. Did this kinda quickly and am unfamiliar with the Cinder/Mkdocs codebase.

[2019-04-03 03:33] chrissimpkins commented on #70
Thanks Tim!

Issue raised about the approach used in PR #71 in https://github.com/chrissimpkins/cinder/pull/71#issuecomment-478944807.  We will need to resolve this issue to merge #71.

[2019-04-06 21:58] anlau commented on #66
@chrissimpkins, feel free to close this issue. #19 could probably be closed too.

[2019-04-06 22:54] chrissimpkins commented on #66
ty!

[2019-04-06 22:54] #66 closed

[2019-04-06 22:54] #19 closed

[2019-04-13 23:28] chrissimpkins commented on #20
We just implemented a keyboard shortcut binding for search in #71 that should ~address this issue.

[2019-04-13 23:28] #20 closed

[2019-04-13 23:29] chrissimpkins commented on #70
#71 merged with Tim's changes.  Thanks again Tim!

[2019-04-13 23:29] #70 closed

[2019-07-04 18:25] Berzerker opened #74 "Support for additional highlightjs languages"
Not 100% sure if I'm doing something wrong or not (I do see highlightjs 9.13 is installed/being used), but I can't seem to get other languages than the default 23 to work.

Specifically, I'm trying with Mikrotik RouterOS highlights (for configuration documentation).

Setting

[code]

doesn't change the highlight to the correct highlight (you can see readthedocs for an example, it works there)

Is

[2019-07-05 15:37] chrissimpkins commented on #74
You are correct.  See the ["Code" section of the Specimen documentation](https://sourcefoundry.org/cinder/specimen/).

This theme only supports the following languages:

- Apache
- Bash
- C#
- C++
- CSS
- CoffeeScript
- Diff
- Go
- HTML/XML
- HTTP
- Ini, TOML
- JSON
- Java
- JavaScript
- Makefile
- Markdown
- Nginx
- Objective-C
- PHP
- Perl
- Properties
- Python
- R
- Ruby
- Rust
- SQL
- Shell Se

[2019-07-05 18:57] Berzerker commented on #74
Opened pull request for #75

[2019-08-17 12:34] davidban77 commented on #14
Any chance this functionality could be added? :) @SinisterMinister @chrissimpkins

Really looking forward to it... I have some reference docs that could greatly benefit from this :)

[2019-08-26 18:39] #67 closed

[2019-09-11 20:39] Rexogamer opened #76 "how would I make a folder?"
how would one go around making a drop-down folder?

[2019-09-11 21:17] chrissimpkins commented on #76
See https://github.com/mkdocs/mkdocs/blob/master/docs/user-guide/configuration.md#nav

[2019-09-11 21:28] Rexogamer commented on #76
thanks, got it working 😄

[2019-09-11 21:28] #76 closed

[2019-09-11 22:36] chrissimpkins commented on #76
👍🙌

[2019-10-20 08:32] andre2007 opened #78 "Is index.md supported?"
Is the index.md feature supported as described here?

https://github.com/mkdocs/mkdocs/issues/1139#issuecomment-449770285

[2019-10-20 13:50] chrissimpkins commented on #78
Not that I am aware of.  It looks like Waylan described how to implement it in this SO thread: https://stackoverflow.com/questions/54596774/how-to-add-permalinks-to-tree-nodes-in-markdown-nav-file-mkdocs-yml/54598748#54598748

Please let us know if you come up with an approach!

[2019-10-20 15:47] andre2007 commented on #78
My understanding is, there was a decision for a convention based approach to be implemented by the themes.

An index.md as first array element should be used as target, but not rendered as normal entry.

Why did you close the issue?

[2019-10-20 16:18] chrissimpkins commented on #78
Apologies.  I interpreted this as a question about whether we support this as your title suggests.

[2019-10-20 16:20] chrissimpkins commented on #78
I don't closely follow the upstream project.  If you are aware of conventions that are in place I would be happy to have a look and see how can bring this into compliance with guidance.

[2019-10-20 17:47] andre2007 commented on #78
This is a comment from @waylan I am referring to:

Source https://github.com/mkdocs/mkdocs/issues/1139#issuecomment-449097071

[2019-10-21 18:26] chrissimpkins commented on #78
For future reference, here is an implementation suggestion from Waylan:

[code]

[2019-10-22 13:32] andre2007 commented on #78
@chrissimpkins do you plan to implement this feature? When could it be available?

[2019-10-22 14:41] chrissimpkins commented on #78
Unfortunately I won't be able to do it myself in the near term but would be happy to consider a pull request if anyone out there has an interest in it.  I really apologize.  I am just bogged down with higher priority work.

[2020-01-21 00:15] SadieCat opened #80 "Sitemap is apparently broken"
It seems like Cinder is generating invalid sitemaps:

e.g. https://sourcefoundry.org/cinder/sitemap.xml

<img width="752" alt="sitemap.xml" src="https://user-images.githubusercontent.com/1565825/72765216-40dc0f00-3be3-11ea-98db-c565258603a1.png">

I'm seeing this on our docs site too but not on the MkDocs site:

https://www.mkdocs.org/sitemap.xml

[2020-01-26 14:33] chrissimpkins commented on #80
Thank you very much for reporting this! I am looking into it today. I'll be back in touch.

[2020-01-26 15:31] chrissimpkins commented on #80
Alright, I think that I tracked down the problem.  Apparently there is an undocumented need to set the value `site_url` in your mkdocs.yml configuration file.  When you do not do this, you get the following behavior that you (and I) are experiencing:

- sitemap.xml properly defined when you use `mkdocs serve` and view at http://127.0.0.1:8000/sitemap.xml
- sitemap.xml has `<loc>None</loc>` for all

[2020-01-26 16:47] #80 closed

[2020-01-26 18:12] chrissimpkins commented on #80
Here are the updated docs that address this issue:

https://sourcefoundry.org/cinder/#important-configuration-issues

Thank you very much Sadie!

[2020-01-26 19:31] chrissimpkins commented on #38
See #75

[2020-01-28 03:31] chrissimpkins opened #83 "Add support for custom color schemes"
Add support for all 90+ color schemes that are released by highlightjs.

[2020-01-28 03:32] chrissimpkins commented on #83
https://github.com/chrissimpkins/cinder/commit/902b03700a4176418378c28b9978e5ce6706fa47

This will be supported in the next release.

[2020-01-28 03:34] chrissimpkins commented on #83
The `github` theme will remain the default if this field is not defined.

[2020-01-29 03:20] #83 closed

[2020-01-29 03:21] #38 closed

[2020-01-29 03:21] #74 closed

[2020-02-02 15:18] chrissimpkins opened #87 "Upgrade Bootstrap version"
We are based on v3 and v4 is out.  Anyone want to take a crack at an update?

[2020-04-30 01:00] Alcampopiano commented on #24
Hello, I am also experiencing the issue where the bottom of the side bar is going out of view with no scroll. I see this in this repository as well as when I add the updated CSS from @wupeng1988's related commit.

here you can see that the header "Measuring Associations" at the top of the page is hidden further down in the side bar.

![sc](https://user-images.githubusercontent.com/4624246/80661374

[2020-05-14 12:49] pingvinen opened #90 "Not getting any syntax highlighting"
Hi

I noticed today that syntax highlighting does not work for me. I have tried various things, but I only get syntax highlighting back if I disable `Cinder` :(

I have made [a repository that shows my setup](https://github.com/pingvinen/mkdocs-cinder-syntax-highlighting-issue), but the gist is this:

- install mkdocs and cinder with: `pip install mkdocs && pip install mkdocs-cinder`
- simple `mkd

[2020-05-14 13:10] pingvinen commented on #90
Ok.. so I found the issue. I was under the impression that syntax highlighting was enabled by default.

Adding `highlightjs: true` under `theme` enables it.

[2020-05-14 13:38] chrissimpkins commented on #90
Hmmm... It should be enabled by default.  Reopened to look into it.  Apologies!

[2020-05-21 02:29] chrissimpkins commented on #90
I believe that I fixed this in https://github.com/chrissimpkins/cinder/pull/91

Recent changes that added additional theme and language support eliminated the default support.  If you have an opportunity will you confirm that this works for you?  You should get default highlightjs lang and theme support both without defining the `theme::highlightjs` configuration value and if this is set to true.

[2020-05-21 06:59] pingvinen commented on #90
Yes, I will and it does work :)

[2020-05-21 12:11] chrissimpkins commented on #90
Tyvm! I will push a new release today.

[2020-05-21 14:08] #90 closed

[2020-05-21 14:14] chrissimpkins commented on #90
Released in v1.0.4. Thank you very much for reporting this!

[2020-06-19 14:34] marlara commented on #24
@Alcampopiano I had the same issues, it has to be modified the "base.min.css" file in the same way too

[2020-06-22 00:23] chrissimpkins commented on #24
Willing to submit a PR?

[2020-09-14 05:33] tstewart-writer opened #92 "Unrecognised theme name: 'cinder' when installed via pip"
I'm new to mkdocs, so maybe the problem is obvious, but has the name of the theme changed? I created a virtual environment to test the `mkdocs-cinder` package.
I installed it with `pip install mkdocs-cinder` and created a new mkdocs project with `mkdocs new`. My `mkdocs.yml` file is as simple as it gets
[code]
but when build the project I get the error
[code]
`pip list` shows that the package is i

[2020-09-14 16:11] chrissimpkins commented on #92
Sorry for the troubles!  I believe that the pip installation approach broke around the time that mkdocs released v1.0.0.  I haven't had the time (or quite frankly the interest) to keep up with the changes.  There was a good deal that broke in the custom theme with that release.  The docs are ~ here: https://www.mkdocs.org/user-guide/custom-themes/#distributing-themes.  I'd gladly take a PR to fix

[2020-09-14 17:14] tstewart-writer commented on #92
Hey, no problem, the issue seems to largely be on my end due to my lack of mkdocs knowledge. I came across [this issue](https://github.com/squidfunk/mkdocs-material/issues/52#issuecomment-270381297) for the mkdocs-material theme. Like them, I installed mkdocs with apt-get, and it seems that they use different theme_dir values which prevents it from finding the pip installed theme. Removing the exi

[2020-09-14 17:27] chrissimpkins commented on #92
Tyvm!  I wasn't aware that mkdocs was available through apt.  This worth a FAQ comment in our docs?

[2020-09-14 18:11] tstewart-writer commented on #92
It might be a good idea to at least note that the apt-get package causes problems with the pip theme installation.

I'll try to find some time to investigate the cause later on. I removed the apt package and installed mkdocs with pip, which resolved my problem, but I didn't try to confirm why the apt/pip mkdocs behave differently. I assume the cause is similar to the issue I linked to, some variab

[2020-09-30 00:32] chrissimpkins commented on #24
Fixed by #94 and released in 1.0.5 release

[2020-09-30 00:32] #24 closed

[2020-10-24 12:32] lewiseason opened #97 "Navigation Customisation"
Similar to #10, except I'd like to switch the Previous/Next buttons off, as my docs aren't strictly linear.

Would you accept a pull request that allows for this (and #10 while I'm there, I guess)? I would probably do something similar to how [mkdocs-material](https://github.com/squidfunk/mkdocs-material/blob/master/material/base.html#L52) does this, and add the options under the `theme` key.

**E

[2020-10-24 12:47] chrissimpkins commented on #97
Absolutely, let's do it. My only request is that you include an update to the documentation in the PR so that users (and I!) know how to use your new toggles.

[2020-10-24 12:48] chrissimpkins commented on #97
Also, please base on #95.  That should be merged and pushed in a new patch this weekend.

[2020-10-24 13:06] lewiseason commented on #97
No problem. PR inbound!

[2020-10-24 13:26] lewiseason commented on #97
Wait hang on, I thought I knew how to do that but I don't.

There aren't any merge conflicts with #95 though, am I okay to just create the PR onto your master branch?

[2020-10-24 14:03] chrissimpkins commented on #97
Yep. Np, we will rebase as needed.

[2020-10-26 22:22] #10 closed

[2020-10-26 22:22] #97 closed

[2021-03-19 20:42] CouldBeThis opened #102 "Top of sidebar cut off if Site name + top navigation = too much"
Hello,

Thanks to everyone who has put time and thought into making and sharing this.

I found that if you have a slightly long site name and several top-level navigation items, the top of the navigation sidebar is cut off:

![Screen Shot 2021-03-19 at 4 08 35 PM](https://user-images.githubusercontent.com/53547181/111837256-0268df80-88ce-11eb-9bec-515376aee1f7.png)

Here I just used the base insta

[2021-03-19 21:18] CouldBeThis commented on #102
I just realized that if the navigation bar is 2 lines long, the `#` page title is also cut off, no matter the site title.

![Screen Shot 2021-03-19 at 5 16 31 PM](https://user-images.githubusercontent.com/53547181/111843090-f0d80580-88d6-11eb-99ce-ae9c91b2e983.png)

Adding in case helpful.

[2021-03-23 12:48] chrissimpkins commented on #102
Ty! Anyone have suggestions about how to fix this?

[2022-06-15 15:25] josecelano opened #103 "Edit link for GitHub is using "master" branch instead of "main""
Hi,

I'm using Cinder in these two projects:

- https://nautilus-cyberneering.github.io/secure-git-guide/
- https://nautilus-cyberneering.github.io/git-queue/

The "Edit on Github" button (on the right top corner) is pointing to the edit URL using the "master" branch.

- https://github.com/Nautilus-Cyberneering/secure-git-guide/edit/master/docs/index.md
- https://github.com/Nautilus-Cyberneering/g

[2022-06-16 14:37] chrissimpkins commented on #103
It looks like this comes from upstream mkdocs and might be configured with the combination of `repo_url` and `edit_uri` (note: not `edit_url`)?

https://github.com/mkdocs/mkdocs/blob/17ff566d2a91703396e954efc521d3869472ba79/mkdocs/structure/pages.py#L37

[2022-06-16 15:55] josecelano commented on #103
OK, thank you @chrissimpkins !

It seems to work now. I was using `edit_url` instead of `edit_uri`

Docs: https://www.mkdocs.org/user-guide/configuration/#edit_uri

Sorry to bother you.

[2022-06-16 15:55] #103 closed, assigned to nobody

[2022-06-16 16:38] chrissimpkins commented on #103
No worries at all! Glad to hear that things are fixed.

[2022-06-25 11:38] azmeuk opened #104 "Dark variant"
It would be nice to have a dark variant of this theme. At the moment browser plugins like [DarkReader](https://addons.mozilla.org/firefox/addon/darkreader/) cannot achieve to render the whole theme correctly.

![Screenshot 2022-06-25 at 13-36-47 Welcome to MkDocs - My Docs](https://user-images.githubusercontent.com/60163/175771874-3dec6ef9-8989-477a-bdef-85d09ca72857.png)

What do you think?

[2022-06-26 01:24] chrissimpkins commented on #104
Sure! Interested in contributing it?

[2022-06-26 09:45] azmeuk commented on #104
Yes! I'll try to make a patch soon.

[2022-08-26 07:22] pomtom44 opened #106 "Putting folders in order"
Hiya
Is there a way to order the pages and folders in the sub menu's
I have my pages and folders numbered 1.1 1.2 1.3 etc
but at the moment its putting the pages first, then folders at the end
so my menu looks
1.1 - page
1.4 - page
1.2 - Folder
1.3 - Folder

Im not sure if its a theme problem or a mkdocs problem
I tried to make a custom nav in the yml but when I put it in, the menu disappears enti